<nav class="navbar sticky-top navbar-expand-lg bg-info">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img class="img" src="../../../assets/brand/brandIcon.jpeg" alt="brand icon">
    </a>

    
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
      aria-controls="offcanvasNavbar2" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/logIn"><button
              class="btn btn-outline-dark fw-bold border border-0">Log In</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signUp"><button class="btn btn-outline-dark fw-bold border border-0">Sign
              Up</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutUs"><button class="btn btn-outline-dark fw-bold border border-0">About
              Us</button></a>
        </li>
      </ul>
      <form class="d-flex mt-3 mt-lg-0" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-dark" type="submit">Search</button>
      </form>
    </div>

    <div [ngbCollapse]="isMenuCollapsed" class="offcanvas offcanvas-end text-bg-light" tabindex="-1"
      id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
      <div class="offcanvas-header">
        <img src="../../../assets/brand/brandIcon.jpeg" alt="">
        <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"
          (click)="isMenuCollapsed = !isMenuCollapsed"></button>
      </div>

      <div class="offcanvas-body">
        
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/logIn"><button
                class="btn btn-outline-dark fw-bold border border-0">Log In</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signUp"><button
                class="btn btn-outline-dark fw-bold border border-0">Sign Up</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutUs"><button
                class="btn btn-outline-dark fw-bold border border-0">About Us</button></a>
          </li>
        </ul>
        <form class="d-flex mt-3 mt-lg-0" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-dark" type="submit">Search</button>
        </form>
      </div>
    </div>

    <div class="dropdown" *ngIf="isLoggedIn">
      <a href="#" id="menu" 
        class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="profile picture" width="35rem" height="35rem" class="rounded-circle">
      </a>
      <ul aria-labelledby="menu" class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>

  </div>

  
  
</nav>